---
import Social from './Social.astro';
---

<footer>
    <h2>ふったー</h2>
    <Social platform="github" username="keibpm420" />
    <Social platform="x" username="zconcreate" />
    <Social platform="instagram" username="adachi-nishi" />
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
