---
import Social from './Social.astro';
---

<footer>
    <h2>ふったー</h2>
    <Social platform="github" username="keibpm420" />
    <Social platform="x" username="" />
    <Social platform="instagram" username="" />
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
