---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header />
        <h1>{pageTitle}</h1>
        <slot />
        <Footer />
        <script>
            import '../scripts/menu';
            import '../scripts/test';
        </script>
    </body>
</html>

<style>
    h1 {
        color: purple;
        font-size: 4rem;
    }

    .post a {
        font-weight: bold;
    }

    .red {
        background-color: green;
    }
</style>
